@font-face {
    font-family: 'BaoMoi-SemiBold';
    src: url('./Baomoi-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BaoMoi-SemiBold', sans-serif;
}